

body {
  background-color: #ffffff;
}
.box{
  height:100vh;
  display:flex;
}
.container {
  display: flex;
  flex-direction: column;
 width:16rem;
     border-right-width: 1px;
         border-color: rgb(229 229 229 / var(--tw-border-opacity, 1));
           --tw-border-opacity: 1;
}
.black_box{
height:3rem;
border-radius: 0.25rem;
background-color: rgb(23 23 23 / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
}
.spacing{
  padding:1rem;
}
.lower_column{
  padding:1rem;
  gap:0.25rem;
    display: flex;
  flex-direction: column;
      flex: 1 1 0%;
}
.sidebar {
  height:2.5rem;
  border-radius:0.25 rem;
    --tw-border-opacity: 1;
     background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1));
}
.sidebar1 {
  height:1px;
 margin-top: 0.5rem;
    margin-bottom: 0.5rem;
      --tw-border-opacity: 1;
        background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1));
}
.right_container{
  padding:1rem;
  overflow: auto;
  display:flex;
    flex-direction: column;
      flex: 1 1 0%;
}
.navigation{
padding-left: 1rm;
padding-right:1rm;
border-color: rgb(229 229 229 / var(--tw-border-opacity, 1));
  --tw-border-opacity: 1;
    border-bottom-width: 1px;
    gap:0.5rem;
    align-items:center;
    height:3.5rem;
    display:flex;
}
.box1{
border-radius: 0.25rem;
background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
    border-radius: 0.25rem;
    width: 2rem;
    height: 2rem;
}
.space {
  flex: 1 1 0%;
}
.bar{
    background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
      --tw-border-opacity: 1;
    border-radius: 0.25rem;
        width: 16rem;
            height: 2rem;
}

.content{
padding:1 rem;
display:flex;
flex-direction: column;
    flex: 1 1 0%;
  
}
/* .inner_content{
  display: flex;
      padding-left: 0.5rem;
    padding-right: 0.5rem;
        border-bottom-width: 1px;
            --tw-border-opacity: 1;
    border-color: rgb(245 245 245 / var(--tw-border-opacity, 1));
            gap: 0.5rem;
            align-items: center;
                   height: 3.5rem;

} */
.inner{
  display: flex;
      padding-left: 0.5rem;
    padding-right: 0.5rem;
        border-bottom-width: 1px;
            --tw-border-opacity: 1;
    border-color: rgb(245 245 245 / var(--tw-border-opacity, 1));
    border-bottom-width: 1px;
        gap: 0.75rem;
            align-items: center;
                height: 3rem;

}
.border{
  border:1px solid lightgrey;
}
.element{
  border-radius: 0.25rem;
      width: 1.25rem;
          height: 1.25rem;
          --tw-bg-opacity: 1;
    background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1));
}
.medium_bar{
    border-radius: 0.25rem;
        width: 8rem;
    height: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1));
}
.long_bar{
  flex: 1 1 0%;
   border-radius: 0.25rem;
       height: 1rem;
     --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}
.short_bar{
    width: 4rem;
        height: 1rem;
        border-radius: 0.25rem;
       --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}